@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7.5%;
    --foreground: 0 0% 100%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 7.5%;
    --popover-foreground: 0 0% 100%;
    --primary: 74 89% 56%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 33%;
    --muted-foreground: 0 0% 65%;
    --accent: 74 89% 56%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 74 89% 56%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 0 0% 7.5%;
    --foreground: 0 0% 100%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 7.5%;
    --popover-foreground: 0 0% 100%;
    --primary: 74 89% 56%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 33%;
    --muted-foreground: 0 0% 65%;
    --accent: 74 89% 56%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 74 89% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}
